{% extends 'admin/adminbase.html.twig' %}
{% block body %}

    <h1>
        {{ title }}
    </h1>

{% endblock %}
 {% block menu %}
     <li class="nav-item active">
         <a class="nav-link" href="{{ path('admin_users') }}">Users</a>

     </li>


 {% endblock %}