{% extends 'admin/adminbase.html.twig' %}

{% block body %}
    <h1>
        {{ title }}
    </h1>
    <h2>Create post: </h2>
    <div class="container">
        <div class="row no-gutters">
            <div class="col">
                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}
